[Unit]
Description=Listesn XScreenSaver for status changes in display activity and toggles Hyperpixel4 backlight accordingly
ConditionPathExists=/usr/bin/hyperpixel4-init
DefaultDependencies=no

[Service]
Type=exec
ExecStart=/usr/bin/hyperpixel4-backlight daemon
Restart=always

[Install]
WantedBy=multi-user.target
