[Unit]
Description=XScreenSaver status monitor
ConditionPathExists=/usr/bin/hyperpixel4-init
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/hyperpixel4-backlight daemon
Restart=on-failure
KillMode=process
RestartSec=10

[Install]
WantedBy=multi-user.target
